# Dependencies -----------------------------------------------------------------
node_modules
package-lock.json

# Source -----------------------------------------------------------------------
src

# Build ------------------------------------------------------------------------
build

# Logs -------------------------------------------------------------------------
logs

# Demos ------------------------------------------------------------------------
demos

# Tests ------------------------------------------------------------------------
coverage
test

# Visual Studio Code -----------------------------------------------------------
.vscode
